/.vagrant
/.buildpath
/.cache
/.metadata
/.project
/.settings
atlassian*
/nbproject
/sitemap
/.idea
/.gitattributes

/bin
/dev
/lib
/phpserver
/pub
/setup
/update
/var
/vendor

/.htaccess.sample
/.php_cs
/.travis.yml
/CHANGELOG.md
/CONTRIBUTING.md
/CONTRIBUTOR_LICENSE_AGREEMENT.html
/COPYING.txt
/Gruntfile.js
/Gruntfile.js.sample
/README_EE.md
/LICENSE.txt
/LICENSE_EE.txt
/LICENSE_AFL.txt
/ISSUE_TEMPLATE.md
/nginx.conf.sample
/package.json
/package.json.sample
/php.ini.sample
